@page "/Account/ConfirmEmail"

@using System.ComponentModel.DataAnnotations
@using System.Globalization
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using H4_IdentityPlatform.Data
@using QRCoder

@inject UserManager<ApplicationUser> UserManager
@inject IdentityUserAccessor UserAccessor
@inject UrlEncoder UrlEncoder
@inject IdentityRedirectManager RedirectManager

<PageTitle>Confirm email</PageTitle>

<h1>Confirm email</h1>
<StatusMessage Message="@statusMessage" />
<div>
    <p>Scan the QR code with an Authenticator app, such as Google Authenticator</p>
    <img src="@qr_imgSrc" alt="qr.png" style="aspect-ratio: 1/1; max-width: 256px; width: 100%;" />
</div>

@code {
    private const string ApplicationQRName = "Big Chungus Society";
    private const string AuthenticatorUriFormat = "otpauth://totp/{0}:{1}?secret={2}&issuer={0}&digits=6";
    private string? statusMessage;
    private string? qr_imgSrc;
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery]
    private string? UserId { get; set; }

    [SupplyParameterFromQuery]
    private string? Code { get; set; }

    protected override async Task OnInitializedAsync() {
        if (UserId is null || Code is null) {
            RedirectManager.RedirectTo("");
        }

        var user = await UserManager.FindByIdAsync(UserId);
        if (user is null) {
            HttpContext.Response.StatusCode = StatusCodes.Status404NotFound;
            statusMessage = $"Error loading user with ID {UserId}";
        }
        else {
            // var code = Encoding.UTF8.GetString(WebEncoders.Base64UrlDecode(Code));
            string code = Encoding.UTF8.GetString(Convert.FromBase64String(Code));
            var result = await UserManager.ConfirmEmailAsync(user, code);
            statusMessage = result.Succeeded ? "Thank you for confirming your email." : "Error confirming your email.";
            await LoadSharedKeyAndQrCodeUriAsync(user);
        }
    }
    private string GenerateQrCodeUri(string email, string unformattedKey) {
        return string.Format(
            CultureInfo.InvariantCulture,
            AuthenticatorUriFormat,
            UrlEncoder.Encode(ApplicationQRName),
            UrlEncoder.Encode(email),
            unformattedKey);
    }
    private async ValueTask LoadSharedKeyAndQrCodeUriAsync(ApplicationUser user) {
        // Load the authenticator key & QR code URI to display on the form
        string? unformattedKey = await UserManager.GetAuthenticatorKeyAsync(user);
        if (string.IsNullOrEmpty(unformattedKey)) {
            await UserManager.ResetAuthenticatorKeyAsync(user);
            unformattedKey = await UserManager.GetAuthenticatorKeyAsync(user);
        }

        string? email = await UserManager.GetEmailAsync(user);
        string authenticatorUri = GenerateQrCodeUri(email!, unformattedKey!);
        using (QRCodeGenerator qrGenerator = new QRCodeGenerator()) {
            using (QRCodeData qrData = qrGenerator.CreateQrCode(authenticatorUri, QRCodeGenerator.ECCLevel.Default)) {
                using (PngByteQRCode qrPng = new PngByteQRCode(qrData)) {
                    byte[] qrCodeImage = qrPng.GetGraphic(20);
                    string base64 = Convert.ToBase64String(qrCodeImage);
                    qr_imgSrc = $"data:image/png;base64, {base64}";
                }
            }
        }
    }
}
